.App {
  text-align: center;
  background-color: plum;
}

td, th {
  border: solid 1.5px black;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1 {
  font-style: italic;
}

Form {
  display: flex;
  color: green;
  flex-direction: column;
  width: 300px;
  
}