html {

  height: 100%;
  /* overflow: scroll; */
  /* background-size: contain; */
  margin: auto;
  text-align: center;
}

body {
   background: radial-gradient(circle, gray, white, gray);
   background-size: auto;
}

p {
  width: 70vw;
}

.App {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  text-align: center;
  width: 80%;
}

h1 {
  align-content: center;
  font-style: italic;
}

/* .stats {
  align-items: center;
  height: 25px;
  width: 100px;
} */

Form {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  width: 300px;
  overflow: auto;
  overflow-wrap: normal;
  justify-content: center;
  margin-left: 150px;
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
    position: absolute;
    left: 14.66%;
    top:10%;
  }
  .col-12 {
    width: 100%;
    margin-left: 0em;
  }
}

#submit-button {
  text-align:center;
  margin-top: 1em;
  width: 40%;
  align-self: center;
}

label {
  margin: 1em 0 .2em 0;
}

.dashboard {
  margin: 2em;
}

#checkboxes {
  justify-content: center;
  
}

#checkboxes label{
  font-weight: normal;
  padding: 1em 0 0 0;
}

#main-header {
  margin-top: 1.5em;
  margin-left: 25%;
}

#contact-button {
  margin-top: 1em;
}

#contact-table {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 16%;
  text-align: center;
}

input {
  border: 1px gray solid;
}
/* 
textarea {
  background: rgb(255, 255, 255, 0.3);
} */

#transparent-input{
  background: rgb(255, 255, 255, 0.3);
  text-align: center;
  padding-left: 4.3em;
  color: rgb(155, 155, 155)
}